<h1>gPanda Chat Server</h1>
<h3>A Node.js Chatroom</h3>
<div id="login">
	<form id="login">
		<input type="text" value="Enter Username" class="fleft" id="name" />
		<input type="hidden" value="-1" id="sessid" />
		<input type="submit" class="fleft" />
	</form>
</div>
<div id="chat">
	<div class="w400 fleft">
		<div id="messages-wrap">
		</div>
	</div>
	<div class="w400 fleft" id="users">
	</div>
	<div class="clr"></div>
	<form>
		<input type="text" value="Enter message" class="fleft" id="msg" />
		<input type="submit" class="fleft" />
		<div class="clr"></div>
	</form>
</div>